In [1]:
import requests
import lxml
import lxml.html
import pandas as pd

In [2]:
def get_data(stock, year, jidu):
    #url = "http://money.finance.sina.com.cn/corp/go.php/vMS_MarketHistory/stockid/601006.phtml?year=2018&jidu=1"
    url = "http://money.finance.sina.com.cn/corp/go.php/vMS_MarketHistory/stockid/%d.phtml?year=%d&jidu=%d" % (stock, year, jidu)
    resp = requests.get(url)
    doc = lxml.html.document_fromstring(resp.content.decode('gbk'))
    trs = doc.xpath('//*[@id="FundHoldSharesTable"]//tr')
    i = 0
    header = None
    data = []
    for tr in trs[1:]:
        tds = tr.xpath(".//td")
        row = []
        for td in tds:
            text = lxml.etree.tounicode(td, method='text').strip()
            row.append(text)
        if i == 0:
            header = row
        else:
            data.append(row)
        i += 1
    df = pd.DataFrame(data=data, columns=header)
    df.to_csv("%d_%d_%d.csv" % (stock, year, jidu), index=False)
    return df

In [3]:
df = get_data(601006, 2018, 1)

In [4]:
df

            日期     开盘价     最高价     收盘价     最低价     交易量(股)     交易金额(元)
0   2018-03-30   8.310   8.330   8.280   8.180   26754216   220608008
1   2018-03-29   8.310   8.360   8.300   8.110   41394933   340815326
2   2018-03-28   8.450   8.540   8.290   8.280   41914596   351385608
3   2018-03-27   8.680   8.710   8.540   8.440   48912958   418432677
4   2018-03-26   8.540   8.750   8.630   8.360   41928105   356435820
5   2018-03-23   8.550   8.770   8.670   8.320   72443824   618220006
6   2018-03-22   8.850   8.890   8.730   8.700   27519664   241379272
7   2018-03-21   8.840   8.940   8.850   8.830   24755593   220012508
8   2018-03-20   8.780   8.900   8.840   8.720   20816204   184015784
9   2018-03-19   8.960   8.960   8.820   8.810   30855470   273429899
10  2018-03-16   9.050   9.060   8.960   8.950   22710030   203919381
11  2018-03-15   9.000   9.070   9.050   8.970   22117326   199434683
12  2018-03-14   9.050   9.050   9.000   8.970   18391275   165671329
13  2018-03-13   9.090   9.090   9.040   9.000   24558386   221980153
14  2018-03-12   9.030   9.100   9.070   9.000   36834631   333317971
15  2018-03-09   8.980   9.020   9.000   8.900   39766273   355838219
16  2018-03-08   9.050   9.070   8.990   8.960   33900294   305406424
17  2018-03-07   9.190   9.230   9.080   9.020   37201341   339473606
18  2018-03-06   9.170   9.200   9.190   9.100   26753654   244790840
19  2018-03-05   9.120   9.190   9.160   9.080   23583984   215382445
20  2018-03-02   9.130   9.210   9.120   9.060   27162987   247707472
21  2018-03-01   9.260   9.360   9.190   9.110   31777734   293186243
22  2018-02-28   9.410   9.440   9.320   9.310   30602729   286606316
23  2018-02-27   9.480   9.510   9.450   9.380   35985239   340047114
24  2018-02-26   9.380   9.520   9.480   9.320   29677433   280382902
25  2018-02-23   9.310   9.410   9.380   9.260   31871115   297808454
26  2018-02-22   9.170   9.330   9.320   9.170   37826561   350721875
27  2018-02-14   9.210   9.240   9.100   9.060   30712448   280049355
28  2018-02-13   9.160   9.250   9.210   9.110   36410122   334483452
29  2018-02-12   9.030   9.190   9.070   8.940   51504747   468666275
30  2018-02-09   9.060   9.160   9.140   8.530  120760025  1072422158
31  2018-02-08   9.710   9.740   9.370   9.180   87696286   826329621
32  2018-02-07   9.920  10.080   9.780   9.650   98327970   969480192
33  2018-02-06   9.790   9.900   9.870   9.680  140017686  1370295181
34  2018-02-05   9.630   9.970   9.920   9.610   76921741   756659294
35  2018-02-02   9.660   9.770   9.740   9.560   54257500   525987089
36  2018-02-01   9.650   9.770   9.750   9.530   94393483   912418859
37  2018-01-31   9.760   9.790   9.650   9.520  131523931  1266511637
38  2018-01-30  10.060  10.150  10.060   9.960   54712659   551120050
39  2018-01-29  10.310  10.480  10.070  10.050   97857526  1005557769
40  2018-01-26  10.010  10.240  10.220   9.970   77393298   785885818
41  2018-01-25  10.060  10.100  10.010   9.910   80936870   808795703
42  2018-01-24  10.200  10.280  10.120  10.050   88483229   898885380
43  2018-01-23  10.060  10.170  10.120   9.980  120117692  1209438244
44  2018-01-22   9.920  10.190  10.120   9.830  147068921  1478596130
45  2018-01-19   9.720   9.950   9.910   9.640  138643925  1358545771
46  2018-01-18   9.700   9.730   9.650   9.520   99375888   953742234
47  2018-01-17   9.710   9.900   9.670   9.580  103984763  1010362590
48  2018-01-16   9.660   9.750   9.660   9.550   90795209   875604431
49  2018-01-15   9.730   9.890   9.650   9.610  104742910  1019902575
50  2018-01-12   9.780   9.840   9.750   9.670   55843188   543833686
51  2018-01-11   9.890   9.940   9.780   9.670   69513856   678086331
52  2018-01-10   9.900  10.050   9.870   9.800   92061690   912363916
53  2018-01-09   9.760   9.950   9.860   9.710  117233416  1152905848
54  2018-01-08   9.430   9.920   9.770   9.380  167601202  1619925141
55  2018-01-05   9.310   9.460   9.410   9.240   98171392   919495656
56  2018-01-04   9.290   9.310   9.260   9.200   57267367   529835331
57  2018-01-03   9.180   9.330   9.290   9.140   95168571   880738532
58  2018-01-02   9.150   9.240   9.130   9.070   89955743   823580256